body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:186px;
  width:226px;
  height:114px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:186px;
  width:221px;
  height:120px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:261px;
  width:225px;
  height:1px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:280px;
  width:221px;
  height:56px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:821px;
  width:912px;
  height:1px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:170px;
  top:867px;
}
#u231_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-image:none;
}
#u231_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u231_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-image:none;
}
#u231_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u231_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:867px;
  width:221px;
  height:120px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1324px;
  width:13px;
  height:24px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1324px;
  width:13px;
  height:24px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:34px;
  width:35px;
  height:35px;
  opacity:0.6;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:39px;
  width:27px;
  height:27px;
  opacity:0.6;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:367px;
  width:300px;
  height:170px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:436px;
  width:226px;
  height:114px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:436px;
  width:226px;
  height:114px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2454px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:299px;
  width:1000px;
  height:2454px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:70px;
  width:126px;
  height:36px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:200px;
  height:1px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u225.a {
}
#u225_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u225.a {
}
#u225_text.a {
}
#u226.a {
  left:84px;
  top:200px;
}
#u226_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226.a {
  left:84px;
  top:200px;
}
#u226_text.a {
}
#u227.a {
  left:86px;
  top:365px;
  height:204px;
}
#u227_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227.a {
  left:86px;
  top:365px;
  height:204px;
}
#u227_text.a {
}
#u228.a {
  left:84px;
  top:275px;
}
#u228_img.a {
}
#u228.a {
  left:84px;
  top:275px;
}
#u229.a {
  left:84px;
  top:294px;
}
#u229_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229.a {
  left:84px;
  top:294px;
}
#u229_text.a {
}
#u230.a {
  left:84px;
  top:1246px;
  width:847px;
}
#u230_img.a {
  width:848px;
}
#u230.a {
  left:84px;
  top:1246px;
  width:847px;
}
#u231.a {
  position:absolute;
  left:83px;
  top:969px;
}
#u232.a {
}
#u232_img.a {
}
#u232.a {
}
#u233.a {
}
#u233_img.a {
}
#u233.a {
}
#u234.a {
}
#u234_img.a {
}
#u234.a {
}
#u235.a {
}
#u235_img.a {
}
#u235.a {
}
#u231_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state3.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u236.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u236_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u236_text.a {
  width:324px;
}
#u237.a {
  left:277px;
  top:1426px;
}
#u237_img.a {
}
#u237.a {
  left:277px;
  top:1426px;
}
#u238.a {
  left:213px;
  top:1426px;
}
#u238_img.a {
}
#u238.a {
  left:213px;
  top:1426px;
}
#u239.a {
}
#u239_img.a {
}
#u239.a {
}
#u240.a {
}
#u240_img.a {
}
#u240.a {
}
#u242.a {
  left:0px;
  top:1079px;
  width:1024px;
  height:147px;
}
#u242_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242.a {
  left:0px;
  top:1079px;
  width:1024px;
  height:147px;
}
#u243.a {
  left:84px;
  top:1112px;
}
#u243_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243.a {
  left:84px;
  top:1112px;
}
#u243_text.a {
}
#u244.a {
  left:260px;
  top:1112px;
  width:252px;
}
#u244_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244.a {
  left:260px;
  top:1112px;
  width:252px;
}
#u244_text.a {
  width:252px;
}
#u245.a {
  left:434px;
  top:170px;
  width:325px;
  height:798px;
}
#u245_img.a {
  width:325px;
  height:798px;
}
#u245.a {
  left:434px;
  top:170px;
  width:325px;
  height:798px;
}
#u246.a {
  left:84px;
  top:44px;
  width:107px;
}
#u246_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u246.a {
  left:84px;
  top:44px;
  width:107px;
}
#u246_text.a {
  width:107px;
}
#u247.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u247_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u247_text.a {
  width:59px;
}
#u248.a {
  left:84px;
  top:86px;
  width:847px;
}
#u248_img.a {
  width:848px;
}
#u248.a {
  left:84px;
  top:86px;
  width:847px;
}
#u250.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u250_img.a {
  width:14px;
  height:14px;
}
#u250.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u251.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u251_img.a {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u251.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u225.b {
}
#u225_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u225.b {
}
#u225_text.b {
}
#u226.b {
  left:84px;
  top:200px;
}
#u226_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226.b {
  left:84px;
  top:200px;
}
#u226_text.b {
}
#u227.b {
  left:86px;
  top:365px;
  height:204px;
}
#u227_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227.b {
  left:86px;
  top:365px;
  height:204px;
}
#u227_text.b {
}
#u228.b {
  left:84px;
  top:275px;
}
#u228_img.b {
}
#u228.b {
  left:84px;
  top:275px;
}
#u229.b {
  left:84px;
  top:294px;
}
#u229_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229.b {
  left:84px;
  top:294px;
}
#u229_text.b {
}
#u230.b {
  left:84px;
  top:1246px;
  width:847px;
}
#u230_img.b {
  width:848px;
}
#u230.b {
  left:84px;
  top:1246px;
  width:847px;
}
#u231.b {
  position:absolute;
  left:83px;
  top:969px;
}
#u232.b {
}
#u232_img.b {
}
#u232.b {
}
#u233.b {
}
#u233_img.b {
}
#u233.b {
}
#u234.b {
}
#u234_img.b {
}
#u234.b {
}
#u235.b {
}
#u235_img.b {
}
#u235.b {
}
#u231_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u231_state3.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u236.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u236_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u236_text.b {
  width:324px;
}
#u237.b {
  left:277px;
  top:1426px;
}
#u237_img.b {
}
#u237.b {
  left:277px;
  top:1426px;
}
#u238.b {
  left:213px;
  top:1426px;
}
#u238_img.b {
}
#u238.b {
  left:213px;
  top:1426px;
}
#u239.b {
}
#u239_img.b {
}
#u239.b {
}
#u240.b {
}
#u240_img.b {
}
#u240.b {
}
#u242.b {
  left:0px;
  top:1079px;
  width:1024px;
  height:147px;
}
#u242_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242.b {
  left:0px;
  top:1079px;
  width:1024px;
  height:147px;
}
#u243.b {
  left:84px;
  top:1112px;
}
#u243_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243.b {
  left:84px;
  top:1112px;
}
#u243_text.b {
}
#u244.b {
  left:260px;
  top:1112px;
  width:252px;
}
#u244_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244.b {
  left:260px;
  top:1112px;
  width:252px;
}
#u244_text.b {
  width:252px;
}
#u245.b {
  left:434px;
  top:170px;
  width:325px;
  height:798px;
}
#u245_img.b {
  width:325px;
  height:798px;
}
#u245.b {
  left:434px;
  top:170px;
  width:325px;
  height:798px;
}
#u246.b {
  left:84px;
  top:44px;
  width:107px;
}
#u246_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u246.b {
  left:84px;
  top:44px;
  width:107px;
}
#u246_text.b {
  width:107px;
}
#u247.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u247_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u247_text.b {
  width:59px;
}
#u248.b {
  left:84px;
  top:86px;
  width:847px;
}
#u248_img.b {
  width:848px;
}
#u248.b {
  left:84px;
  top:86px;
  width:847px;
}
#u250.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u250_img.b {
  width:14px;
  height:14px;
}
#u250.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u251.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u251_img.b {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u251.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
