body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:538px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:186px;
  width:414px;
  height:538px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:186px;
  width:226px;
  height:114px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:186px;
  width:221px;
  height:120px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:261px;
  width:225px;
  height:1px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:280px;
  width:221px;
  height:120px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:821px;
  width:912px;
  height:1px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:170px;
  top:867px;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-image:none;
}
#u94_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u94_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-image:none;
}
#u94_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u94_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:867px;
  width:221px;
  height:120px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1324px;
  width:13px;
  height:24px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1324px;
  width:13px;
  height:24px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:34px;
  width:35px;
  height:35px;
  opacity:0.6;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:39px;
  width:27px;
  height:27px;
  opacity:0.6;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:367px;
  width:300px;
  height:170px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:436px;
  width:226px;
  height:114px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:436px;
  width:226px;
  height:114px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:616px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:860px;
  width:500px;
  height:616px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:70px;
  width:126px;
  height:36px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:200px;
  height:1px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u87.a {
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87.a {
}
#u87_text.a {
}
#u88.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u88_img.a {
  width:497px;
  height:646px;
}
#u88.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u89.a {
  left:84px;
  top:200px;
}
#u89_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89.a {
  left:84px;
  top:200px;
}
#u89_text.a {
}
#u90.a {
  left:86px;
  top:335px;
}
#u90_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.a {
  left:86px;
  top:335px;
}
#u90_text.a {
}
#u91.a {
  left:84px;
  top:275px;
}
#u91_img.a {
}
#u91.a {
  left:84px;
  top:275px;
}
#u92.a {
  left:84px;
  top:294px;
}
#u92_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92.a {
  left:84px;
  top:294px;
}
#u92_text.a {
}
#u93.a {
  left:84px;
  top:916px;
  width:847px;
}
#u93_img.a {
  width:848px;
}
#u93.a {
  left:84px;
  top:916px;
  width:847px;
}
#u94.a {
  position:absolute;
  left:83px;
  top:969px;
}
#u95.a {
}
#u95_img.a {
}
#u95.a {
}
#u96.a {
}
#u96_img.a {
}
#u96.a {
}
#u97.a {
}
#u97_img.a {
}
#u97.a {
}
#u98.a {
}
#u98_img.a {
}
#u98.a {
}
#u94_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state3.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u99.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u99_text.a {
  width:324px;
}
#u100.a {
  left:277px;
  top:1426px;
}
#u100_img.a {
}
#u100.a {
  left:277px;
  top:1426px;
}
#u101.a {
  left:213px;
  top:1426px;
}
#u101_img.a {
}
#u101.a {
  left:213px;
  top:1426px;
}
#u102.a {
}
#u102_img.a {
}
#u102.a {
}
#u103.a {
}
#u103_img.a {
}
#u103.a {
}
#u105.a {
  left:0px;
  top:877px;
  width:1024px;
  height:147px;
}
#u105_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105.a {
  left:0px;
  top:877px;
  width:1024px;
  height:147px;
}
#u106.a {
  left:84px;
  top:910px;
}
#u106_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106.a {
  left:84px;
  top:910px;
}
#u106_text.a {
}
#u107.a {
  left:260px;
  top:910px;
  width:252px;
}
#u107_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107.a {
  left:260px;
  top:910px;
  width:252px;
}
#u107_text.a {
  width:252px;
}
#u108.a {
  left:433px;
  top:170px;
  width:498px;
  height:613px;
}
#u108_img.a {
  width:498px;
  height:613px;
}
#u108.a {
  left:433px;
  top:170px;
  width:498px;
  height:613px;
}
#u109.a {
  left:84px;
  top:44px;
  width:107px;
}
#u109_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u109.a {
  left:84px;
  top:44px;
  width:107px;
}
#u109_text.a {
  width:107px;
}
#u110.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u110_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u110_text.a {
  width:59px;
}
#u111.a {
  left:84px;
  top:86px;
  width:847px;
}
#u111_img.a {
  width:848px;
}
#u111.a {
  left:84px;
  top:86px;
  width:847px;
}
#u113.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u113_img.a {
  width:14px;
  height:14px;
}
#u113.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u114.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u114_img.a {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u114.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u87.b {
}
#u87_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87.b {
}
#u87_text.b {
}
#u88.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u88_img.b {
  width:497px;
  height:646px;
}
#u88.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u89.b {
  left:84px;
  top:200px;
}
#u89_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89.b {
  left:84px;
  top:200px;
}
#u89_text.b {
}
#u90.b {
  left:86px;
  top:335px;
}
#u90_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.b {
  left:86px;
  top:335px;
}
#u90_text.b {
}
#u91.b {
  left:84px;
  top:275px;
}
#u91_img.b {
}
#u91.b {
  left:84px;
  top:275px;
}
#u92.b {
  left:84px;
  top:294px;
}
#u92_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92.b {
  left:84px;
  top:294px;
}
#u92_text.b {
}
#u93.b {
  left:84px;
  top:916px;
  width:847px;
}
#u93_img.b {
  width:848px;
}
#u93.b {
  left:84px;
  top:916px;
  width:847px;
}
#u94.b {
  position:absolute;
  left:83px;
  top:969px;
}
#u95.b {
}
#u95_img.b {
}
#u95.b {
}
#u96.b {
}
#u96_img.b {
}
#u96.b {
}
#u97.b {
}
#u97_img.b {
}
#u97.b {
}
#u98.b {
}
#u98_img.b {
}
#u98.b {
}
#u94_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u94_state3.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u99.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u99_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u99_text.b {
  width:324px;
}
#u100.b {
  left:277px;
  top:1426px;
}
#u100_img.b {
}
#u100.b {
  left:277px;
  top:1426px;
}
#u101.b {
  left:213px;
  top:1426px;
}
#u101_img.b {
}
#u101.b {
  left:213px;
  top:1426px;
}
#u102.b {
}
#u102_img.b {
}
#u102.b {
}
#u103.b {
}
#u103_img.b {
}
#u103.b {
}
#u105.b {
  left:0px;
  top:877px;
  width:1024px;
  height:147px;
}
#u105_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105.b {
  left:0px;
  top:877px;
  width:1024px;
  height:147px;
}
#u106.b {
  left:84px;
  top:910px;
}
#u106_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106.b {
  left:84px;
  top:910px;
}
#u106_text.b {
}
#u107.b {
  left:260px;
  top:910px;
  width:252px;
}
#u107_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107.b {
  left:260px;
  top:910px;
  width:252px;
}
#u107_text.b {
  width:252px;
}
#u108.b {
  left:433px;
  top:170px;
  width:498px;
  height:613px;
}
#u108_img.b {
  width:498px;
  height:613px;
}
#u108.b {
  left:433px;
  top:170px;
  width:498px;
  height:613px;
}
#u109.b {
  left:84px;
  top:44px;
  width:107px;
}
#u109_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u109.b {
  left:84px;
  top:44px;
  width:107px;
}
#u109_text.b {
  width:107px;
}
#u110.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u110_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u110_text.b {
  width:59px;
}
#u111.b {
  left:84px;
  top:86px;
  width:847px;
}
#u111_img.b {
  width:848px;
}
#u111.b {
  left:84px;
  top:86px;
  width:847px;
}
#u113.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u113_img.b {
  width:14px;
  height:14px;
}
#u113.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u114.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u114_img.b {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u114.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
