body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:538px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:186px;
  width:414px;
  height:538px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:186px;
  width:226px;
  height:114px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:186px;
  width:221px;
  height:120px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:261px;
  width:225px;
  height:1px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:280px;
  width:221px;
  height:120px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:821px;
  width:912px;
  height:1px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:170px;
  top:867px;
}
#u342_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-image:none;
}
#u342_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u342_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-image:none;
}
#u342_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u342_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:867px;
  width:221px;
  height:120px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1324px;
  width:13px;
  height:24px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1324px;
  width:13px;
  height:24px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:34px;
  width:35px;
  height:35px;
  opacity:0.6;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:39px;
  width:27px;
  height:27px;
  opacity:0.6;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:318px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:528px;
  width:500px;
  height:318px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:625px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:560px;
  width:500px;
  height:625px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:1018px;
  width:300px;
  height:170px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1087px;
  width:226px;
  height:114px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1087px;
  width:226px;
  height:114px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:70px;
  width:126px;
  height:36px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:200px;
  height:1px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u335.a {
}
#u335_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335.a {
}
#u335_text.a {
}
#u336.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u336_img.a {
  width:497px;
  height:646px;
}
#u336.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u337.a {
  left:84px;
  top:200px;
}
#u337_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337.a {
  left:84px;
  top:200px;
}
#u337_text.a {
}
#u338.a {
  left:84px;
  top:352px;
  height:232px;
}
#u338_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338.a {
  left:84px;
  top:352px;
  height:232px;
}
#u338_text.a {
}
#u339.a {
  left:84px;
  top:275px;
}
#u339_img.a {
}
#u339.a {
  left:84px;
  top:275px;
}
#u340.a {
  left:84px;
  top:294px;
}
#u340_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340.a {
  left:84px;
  top:294px;
}
#u340_text.a {
}
#u341.a {
  left:84px;
  top:638px;
  width:847px;
}
#u341_img.a {
  width:848px;
}
#u341.a {
  left:84px;
  top:638px;
  width:847px;
}
#u342.a {
  position:absolute;
  left:83px;
  top:691px;
}
#u343.a {
}
#u343_img.a {
}
#u343.a {
}
#u344.a {
}
#u344_img.a {
}
#u344.a {
}
#u345.a {
}
#u345_img.a {
}
#u345.a {
}
#u346.a {
}
#u346_img.a {
}
#u346.a {
}
#u342_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state3.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u347.a {
  left:608px;
  top:684px;
  width:324px;
}
#u347_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u347.a {
  left:608px;
  top:684px;
  width:324px;
}
#u347_text.a {
  width:324px;
}
#u348.a {
  left:277px;
  top:1148px;
}
#u348_img.a {
}
#u348.a {
  left:277px;
  top:1148px;
}
#u349.a {
  left:213px;
  top:1148px;
}
#u349_img.a {
}
#u349.a {
  left:213px;
  top:1148px;
}
#u350.a {
}
#u350_img.a {
}
#u350.a {
}
#u351.a {
}
#u351_img.a {
}
#u351.a {
}
#u352.a {
  left:431px;
  top:170px;
}
#u352_img.a {
}
#u352.a {
  left:431px;
  top:170px;
}
#u353.a {
  left:84px;
  top:668px;
}
#u353_img.a {
}
#u353.a {
  left:84px;
  top:668px;
}
#u355.a {
  left:0px;
  top:1395px;
  width:1024px;
  height:147px;
}
#u355_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.a {
  left:0px;
  top:1395px;
  width:1024px;
  height:147px;
}
#u356.a {
  left:84px;
  top:1428px;
}
#u356_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356.a {
  left:84px;
  top:1428px;
}
#u356_text.a {
}
#u357.a {
  left:261px;
  top:1428px;
  width:252px;
}
#u357_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.a {
  left:261px;
  top:1428px;
  width:252px;
}
#u357_text.a {
  width:252px;
}
#u358.a {
  left:84px;
  top:44px;
  width:107px;
}
#u358_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u358.a {
  left:84px;
  top:44px;
  width:107px;
}
#u358_text.a {
  width:107px;
}
#u359.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u359_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u359_text.a {
  width:59px;
}
#u360.a {
  left:84px;
  top:86px;
  width:847px;
}
#u360_img.a {
  width:848px;
}
#u360.a {
  left:84px;
  top:86px;
  width:847px;
}
#u362.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u362_img.a {
  width:14px;
  height:14px;
}
#u362.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u363.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u363_img.a {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u363.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u335.b {
}
#u335_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335.b {
}
#u335_text.b {
}
#u336.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u336_img.b {
  width:497px;
  height:646px;
}
#u336.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u337.b {
  left:84px;
  top:200px;
}
#u337_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337.b {
  left:84px;
  top:200px;
}
#u337_text.b {
}
#u338.b {
  left:84px;
  top:352px;
  height:232px;
}
#u338_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338.b {
  left:84px;
  top:352px;
  height:232px;
}
#u338_text.b {
}
#u339.b {
  left:84px;
  top:275px;
}
#u339_img.b {
}
#u339.b {
  left:84px;
  top:275px;
}
#u340.b {
  left:84px;
  top:294px;
}
#u340_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340.b {
  left:84px;
  top:294px;
}
#u340_text.b {
}
#u341.b {
  left:84px;
  top:638px;
  width:847px;
}
#u341_img.b {
  width:848px;
}
#u341.b {
  left:84px;
  top:638px;
  width:847px;
}
#u342.b {
  position:absolute;
  left:83px;
  top:691px;
}
#u343.b {
}
#u343_img.b {
}
#u343.b {
}
#u344.b {
}
#u344_img.b {
}
#u344.b {
}
#u345.b {
}
#u345_img.b {
}
#u345.b {
}
#u346.b {
}
#u346_img.b {
}
#u346.b {
}
#u342_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u342_state3.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u347.b {
  left:608px;
  top:684px;
  width:324px;
}
#u347_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u347.b {
  left:608px;
  top:684px;
  width:324px;
}
#u347_text.b {
  width:324px;
}
#u348.b {
  left:277px;
  top:1148px;
}
#u348_img.b {
}
#u348.b {
  left:277px;
  top:1148px;
}
#u349.b {
  left:213px;
  top:1148px;
}
#u349_img.b {
}
#u349.b {
  left:213px;
  top:1148px;
}
#u350.b {
}
#u350_img.b {
}
#u350.b {
}
#u351.b {
}
#u351_img.b {
}
#u351.b {
}
#u352.b {
  left:431px;
  top:170px;
}
#u352_img.b {
}
#u352.b {
  left:431px;
  top:170px;
}
#u353.b {
  left:84px;
  top:668px;
}
#u353_img.b {
}
#u353.b {
  left:84px;
  top:668px;
}
#u355.b {
  left:0px;
  top:1395px;
  width:1024px;
  height:147px;
}
#u355_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.b {
  left:0px;
  top:1395px;
  width:1024px;
  height:147px;
}
#u356.b {
  left:84px;
  top:1428px;
}
#u356_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356.b {
  left:84px;
  top:1428px;
}
#u356_text.b {
}
#u357.b {
  left:261px;
  top:1428px;
  width:252px;
}
#u357_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.b {
  left:261px;
  top:1428px;
  width:252px;
}
#u357_text.b {
  width:252px;
}
#u358.b {
  left:84px;
  top:44px;
  width:107px;
}
#u358_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u358.b {
  left:84px;
  top:44px;
  width:107px;
}
#u358_text.b {
  width:107px;
}
#u359.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u359_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u359_text.b {
  width:59px;
}
#u360.b {
  left:84px;
  top:86px;
  width:847px;
}
#u360_img.b {
  width:848px;
}
#u360.b {
  left:84px;
  top:86px;
  width:847px;
}
#u362.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u362_img.b {
  width:14px;
  height:14px;
}
#u362.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u363.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u363_img.b {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u363.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
