body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:538px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:186px;
  width:414px;
  height:538px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:186px;
  width:226px;
  height:114px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:186px;
  width:221px;
  height:120px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:261px;
  width:225px;
  height:1px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:280px;
  width:221px;
  height:120px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:821px;
  width:912px;
  height:1px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371 {
  position:absolute;
  left:170px;
  top:867px;
}
#u371_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-image:none;
}
#u371_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u371_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-image:none;
}
#u371_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u371_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:867px;
  width:221px;
  height:120px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1324px;
  width:13px;
  height:24px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1324px;
  width:13px;
  height:24px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:34px;
  width:35px;
  height:35px;
  opacity:0.6;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:39px;
  width:27px;
  height:27px;
  opacity:0.6;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:1018px;
  width:300px;
  height:170px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1087px;
  width:226px;
  height:114px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1087px;
  width:226px;
  height:114px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1356px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:746px;
  width:700px;
  height:1356px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:70px;
  width:126px;
  height:36px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:200px;
  height:1px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u364.a {
}
#u364_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u364.a {
}
#u364_text.a {
}
#u365.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u365_img.a {
  width:497px;
  height:646px;
}
#u365.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u366.a {
  left:84px;
  top:200px;
}
#u366_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.a {
  left:84px;
  top:200px;
}
#u366_text.a {
}
#u367.a {
  left:84px;
  top:332px;
  height:232px;
}
#u367_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367.a {
  left:84px;
  top:332px;
  height:232px;
}
#u367_text.a {
}
#u368.a {
  left:84px;
  top:275px;
}
#u368_img.a {
}
#u368.a {
  left:84px;
  top:275px;
}
#u369.a {
  left:84px;
  top:294px;
}
#u369_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369.a {
  left:84px;
  top:294px;
}
#u369_text.a {
}
#u370.a {
  left:84px;
  top:638px;
  width:847px;
}
#u370_img.a {
  width:848px;
}
#u370.a {
  left:84px;
  top:638px;
  width:847px;
}
#u371.a {
  position:absolute;
  left:83px;
  top:691px;
}
#u372.a {
}
#u372_img.a {
}
#u372.a {
}
#u373.a {
}
#u373_img.a {
}
#u373.a {
}
#u374.a {
}
#u374_img.a {
}
#u374.a {
}
#u375.a {
}
#u375_img.a {
}
#u375.a {
}
#u371_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state3.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u376.a {
  left:608px;
  top:684px;
  width:324px;
}
#u376_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376.a {
  left:608px;
  top:684px;
  width:324px;
}
#u376_text.a {
  width:324px;
}
#u377.a {
  left:277px;
  top:1148px;
}
#u377_img.a {
}
#u377.a {
  left:277px;
  top:1148px;
}
#u378.a {
  left:213px;
  top:1148px;
}
#u378_img.a {
}
#u378.a {
  left:213px;
  top:1148px;
}
#u379.a {
}
#u379_img.a {
}
#u379.a {
}
#u380.a {
}
#u380_img.a {
}
#u380.a {
}
#u382.a {
  left:0px;
  top:1263px;
  width:1024px;
  height:147px;
}
#u382_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382.a {
  left:0px;
  top:1263px;
  width:1024px;
  height:147px;
}
#u383.a {
  left:84px;
  top:1296px;
}
#u383_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383.a {
  left:84px;
  top:1296px;
}
#u383_text.a {
}
#u384.a {
  left:261px;
  top:1296px;
  width:252px;
}
#u384_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384.a {
  left:261px;
  top:1296px;
  width:252px;
}
#u384_text.a {
  width:252px;
}
#u385.a {
  left:434px;
  top:170px;
  width:499px;
  height:967px;
}
#u385_img.a {
  width:499px;
  height:967px;
}
#u385.a {
  left:434px;
  top:170px;
  width:499px;
  height:967px;
}
#u386.a {
  left:84px;
  top:44px;
  width:107px;
}
#u386_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u386.a {
  left:84px;
  top:44px;
  width:107px;
}
#u386_text.a {
  width:107px;
}
#u387.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u387_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u387_text.a {
  width:59px;
}
#u388.a {
  left:84px;
  top:86px;
  width:847px;
}
#u388_img.a {
  width:848px;
}
#u388.a {
  left:84px;
  top:86px;
  width:847px;
}
#u390.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u390_img.a {
  width:14px;
  height:14px;
}
#u390.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u391.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u391_img.a {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u391.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u364.b {
}
#u364_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u364.b {
}
#u364_text.b {
}
#u365.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u365_img.b {
  width:497px;
  height:646px;
}
#u365.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u366.b {
  left:84px;
  top:200px;
}
#u366_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.b {
  left:84px;
  top:200px;
}
#u366_text.b {
}
#u367.b {
  left:84px;
  top:332px;
  height:232px;
}
#u367_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367.b {
  left:84px;
  top:332px;
  height:232px;
}
#u367_text.b {
}
#u368.b {
  left:84px;
  top:275px;
}
#u368_img.b {
}
#u368.b {
  left:84px;
  top:275px;
}
#u369.b {
  left:84px;
  top:294px;
}
#u369_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369.b {
  left:84px;
  top:294px;
}
#u369_text.b {
}
#u370.b {
  left:84px;
  top:638px;
  width:847px;
}
#u370_img.b {
  width:848px;
}
#u370.b {
  left:84px;
  top:638px;
  width:847px;
}
#u371.b {
  position:absolute;
  left:83px;
  top:691px;
}
#u372.b {
}
#u372_img.b {
}
#u372.b {
}
#u373.b {
}
#u373_img.b {
}
#u373.b {
}
#u374.b {
}
#u374_img.b {
}
#u374.b {
}
#u375.b {
}
#u375_img.b {
}
#u375.b {
}
#u371_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u371_state3.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u376.b {
  left:608px;
  top:684px;
  width:324px;
}
#u376_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376.b {
  left:608px;
  top:684px;
  width:324px;
}
#u376_text.b {
  width:324px;
}
#u377.b {
  left:277px;
  top:1148px;
}
#u377_img.b {
}
#u377.b {
  left:277px;
  top:1148px;
}
#u378.b {
  left:213px;
  top:1148px;
}
#u378_img.b {
}
#u378.b {
  left:213px;
  top:1148px;
}
#u379.b {
}
#u379_img.b {
}
#u379.b {
}
#u380.b {
}
#u380_img.b {
}
#u380.b {
}
#u382.b {
  left:0px;
  top:1263px;
  width:1024px;
  height:147px;
}
#u382_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382.b {
  left:0px;
  top:1263px;
  width:1024px;
  height:147px;
}
#u383.b {
  left:84px;
  top:1296px;
}
#u383_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383.b {
  left:84px;
  top:1296px;
}
#u383_text.b {
}
#u384.b {
  left:261px;
  top:1296px;
  width:252px;
}
#u384_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384.b {
  left:261px;
  top:1296px;
  width:252px;
}
#u384_text.b {
  width:252px;
}
#u385.b {
  left:434px;
  top:170px;
  width:499px;
  height:967px;
}
#u385_img.b {
  width:499px;
  height:967px;
}
#u385.b {
  left:434px;
  top:170px;
  width:499px;
  height:967px;
}
#u386.b {
  left:84px;
  top:44px;
  width:107px;
}
#u386_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u386.b {
  left:84px;
  top:44px;
  width:107px;
}
#u386_text.b {
  width:107px;
}
#u387.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u387_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u387_text.b {
  width:59px;
}
#u388.b {
  left:84px;
  top:86px;
  width:847px;
}
#u388_img.b {
  width:848px;
}
#u388.b {
  left:84px;
  top:86px;
  width:847px;
}
#u390.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u390_img.b {
  width:14px;
  height:14px;
}
#u390.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u391.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u391_img.b {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u391.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
