body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:36px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:538px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:186px;
  width:414px;
  height:538px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:186px;
  width:226px;
  height:114px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:186px;
  width:221px;
  height:120px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:261px;
  width:225px;
  height:1px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:280px;
  width:221px;
  height:120px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:2px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:821px;
  width:912px;
  height:1px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:170px;
  top:867px;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-image:none;
}
#u66_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u66_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-image:none;
}
#u66_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-image:none;
}
#u66_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:867px;
  width:221px;
  height:120px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1324px;
  width:13px;
  height:24px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1324px;
  width:13px;
  height:24px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:34px;
  width:35px;
  height:35px;
  opacity:0.6;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:39px;
  width:27px;
  height:27px;
  opacity:0.6;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:717px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:914px;
  width:882px;
  height:717px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:367px;
  width:300px;
  height:170px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:436px;
  width:226px;
  height:114px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:436px;
  width:226px;
  height:114px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:52px;
  width:116px;
  height:24px;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:70px;
  width:116px;
  height:28px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:200px;
  height:1px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u59.a {
}
#u59_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59.a {
}
#u59_text.a {
}
#u60.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u60_img.a {
  width:497px;
  height:646px;
}
#u60.a {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u61.a {
  left:84px;
  top:200px;
  height:76px;
}
#u61_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61.a {
  left:84px;
  top:200px;
  height:76px;
}
#u61_text.a {
}
#u62.a {
  left:86px;
  top:365px;
}
#u62_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62.a {
  left:86px;
  top:365px;
}
#u62_text.a {
}
#u63.a {
  left:84px;
  top:275px;
}
#u63_img.a {
}
#u63.a {
  left:84px;
  top:275px;
}
#u64.a {
  left:84px;
  top:294px;
}
#u64_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64.a {
  left:84px;
  top:294px;
}
#u64_text.a {
}
#u65.a {
  left:84px;
  top:916px;
  width:847px;
}
#u65_img.a {
  width:848px;
}
#u65.a {
  left:84px;
  top:916px;
  width:847px;
}
#u66.a {
  position:absolute;
  left:83px;
  top:969px;
}
#u67.a {
}
#u67_img.a {
}
#u67.a {
}
#u68.a {
}
#u68_img.a {
}
#u68.a {
}
#u69.a {
}
#u69_img.a {
}
#u69.a {
}
#u70.a {
}
#u70_img.a {
}
#u70.a {
}
#u66_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state2.a {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state3.a {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u71.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u71_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71.a {
  left:434px;
  top:1278px;
  width:324px;
}
#u71_text.a {
  width:324px;
}
#u72.a {
  left:277px;
  top:1426px;
}
#u72_img.a {
}
#u72.a {
  left:277px;
  top:1426px;
}
#u73.a {
  left:213px;
  top:1426px;
}
#u73_img.a {
}
#u73.a {
  left:213px;
  top:1426px;
}
#u74.a {
}
#u74_img.a {
}
#u74.a {
}
#u75.a {
}
#u75_img.a {
}
#u75.a {
}
#u76.a {
  left:434px;
  top:170px;
  width:497px;
  height:404px;
}
#u76_img.a {
  width:497px;
  height:404px;
}
#u76.a {
  left:434px;
  top:170px;
  width:497px;
  height:404px;
}
#u78.a {
  left:0px;
  top:680px;
  width:1024px;
  height:147px;
}
#u78_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78.a {
  left:0px;
  top:680px;
  width:1024px;
  height:147px;
}
#u79.a {
  left:84px;
  top:713px;
}
#u79_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.a {
  left:84px;
  top:713px;
}
#u79_text.a {
}
#u80.a {
  left:260px;
  top:713px;
  width:252px;
}
#u80_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80.a {
  left:260px;
  top:713px;
  width:252px;
}
#u80_text.a {
  width:252px;
}
#u81.a {
  left:84px;
  top:44px;
  width:107px;
  height:36px;
}
#u81_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u81.a {
  left:84px;
  top:44px;
  width:107px;
  height:36px;
}
#u81_text.a {
  width:107px;
}
#u82.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u82_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82.a {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u82_text.a {
  width:59px;
}
#u83.a {
  left:84px;
  top:86px;
  width:847px;
}
#u83_img.a {
  width:848px;
}
#u83.a {
  left:84px;
  top:86px;
  width:847px;
}
#u85.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u85_img.a {
  width:14px;
  height:14px;
}
#u85.a {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u86.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u86_img.a {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u86.a {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u59.b {
}
#u59_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LyonText-Regular', 'Lyon Text';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59.b {
}
#u59_text.b {
}
#u60.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u60_img.b {
  width:497px;
  height:646px;
}
#u60.b {
  left:434px;
  top:170px;
  width:497px;
  height:646px;
}
#u61.b {
  left:84px;
  top:200px;
  height:76px;
}
#u61_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61.b {
  left:84px;
  top:200px;
  height:76px;
}
#u61_text.b {
}
#u62.b {
  left:86px;
  top:365px;
}
#u62_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62.b {
  left:86px;
  top:365px;
}
#u62_text.b {
}
#u63.b {
  left:84px;
  top:275px;
}
#u63_img.b {
}
#u63.b {
  left:84px;
  top:275px;
}
#u64.b {
  left:84px;
  top:294px;
}
#u64_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64.b {
  left:84px;
  top:294px;
}
#u64_text.b {
}
#u65.b {
  left:84px;
  top:916px;
  width:847px;
}
#u65_img.b {
  width:848px;
}
#u65.b {
  left:84px;
  top:916px;
  width:847px;
}
#u66.b {
  position:absolute;
  left:83px;
  top:969px;
}
#u67.b {
}
#u67_img.b {
}
#u67.b {
}
#u68.b {
}
#u68_img.b {
}
#u68.b {
}
#u69.b {
}
#u69_img.b {
}
#u69.b {
}
#u70.b {
}
#u70_img.b {
}
#u70.b {
}
#u66_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:437px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state2.b {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:428px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u66_state3.b {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:427px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u71.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u71_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71.b {
  left:434px;
  top:1278px;
  width:324px;
}
#u71_text.b {
  width:324px;
}
#u72.b {
  left:277px;
  top:1426px;
}
#u72_img.b {
}
#u72.b {
  left:277px;
  top:1426px;
}
#u73.b {
  left:213px;
  top:1426px;
}
#u73_img.b {
}
#u73.b {
  left:213px;
  top:1426px;
}
#u74.b {
}
#u74_img.b {
}
#u74.b {
}
#u75.b {
}
#u75_img.b {
}
#u75.b {
}
#u76.b {
  left:434px;
  top:170px;
  width:497px;
  height:404px;
}
#u76_img.b {
  width:497px;
  height:404px;
}
#u76.b {
  left:434px;
  top:170px;
  width:497px;
  height:404px;
}
#u78.b {
  left:0px;
  top:680px;
  width:1024px;
  height:147px;
}
#u78_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:147px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78.b {
  left:0px;
  top:680px;
  width:1024px;
  height:147px;
}
#u79.b {
  left:84px;
  top:713px;
}
#u79_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.b {
  left:84px;
  top:713px;
}
#u79_text.b {
}
#u80.b {
  left:260px;
  top:713px;
  width:252px;
}
#u80_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80.b {
  left:260px;
  top:713px;
  width:252px;
}
#u80_text.b {
  width:252px;
}
#u81.b {
  left:84px;
  top:44px;
  width:107px;
  height:36px;
}
#u81_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Amiri-Regular', 'Amiri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u81.b {
  left:84px;
  top:44px;
  width:107px;
  height:36px;
}
#u81_text.b {
  width:107px;
}
#u82.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u82_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82.b {
  left:829px;
  top:52px;
  width:59px;
  height:20px;
}
#u82_text.b {
  width:59px;
}
#u83.b {
  left:84px;
  top:86px;
  width:847px;
}
#u83_img.b {
  width:848px;
}
#u83.b {
  left:84px;
  top:86px;
  width:847px;
}
#u85.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u85_img.b {
  width:14px;
  height:14px;
}
#u85.b {
  left:913px;
  top:50px;
  width:14px;
  height:14px;
}
#u86.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u86_img.b {
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u86.b {
  left:923px;
  top:64px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
